.main-container {
  margin: auto;
}

.main-container__title {
  text-align: center;
}
/* ------------------------------------------------------- */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ------------------------------------------------------- */

.card-component {
  margin: 10px;
  padding: 10px;
  max-width: 400px;
  min-height: 450px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  background: #fedc08;
}
.card-component__image {
  object-fit: cover;
}

.card-component__title {
  display: inline;
  margin: 0 10px 0 0;
}

.card-component__title-text {
  display: inline;
}

.card-component__link {
  color: #542e91;
  text-decoration: none;
}
.card-component__link:hover {
  text-decoration: underline;
}

.card-component__link:focus {
  text-decoration: underline;
  outline: none;
}

.card-component__link:focus.card-component__link:before {
  content: "> ";
  color: #5d99db;
}

.card-component__tags {
  font-size: 11px;
}
